<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://i.ytimg.com/vi/961v0E3b01g/maxresdefault.jpg"
      cardTitle="Calvin Harris revisita clássicos"
      cardDescription="'Miracle' com participação de Ellie Goulding homenageia grandes nomes como Robert Miles, e Armin Van Buuren"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Nova controladora no radar!"
      photoCover="https://www.pioneerdj.com/-/media/pioneerdj/images/products/controller/ddj-flx10/pc-cgi_angle.png"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Beat: Série do Prime Vídeo promete e entrega muito drama e música."
      photoCover="https://images-na.ssl-images-amazon.com/images/S/pv-target-images/b5a76d41ef81e9f06b022273d9e1604251a14083c92efd6496871f446e9390d7._RI_TTW_.jpg"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Date My Playlist: MTV inova mais uma vez e lança o 'tinder musical' confira."
      photoCover="https://is1-ssl.mzstatic.com/image/thumb/SG-MQ-US-032-Image000001/v4/93/60/7c/93607c27-0121-cea4-6c0a-d47a49b30172/image/1200x630wp-60.jpg"
    >
    </app-small-card>
  </div>
</div>
